<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Exo:500,500italic,700,700italic,400,400italic,600,600italic,900,900italic">
    <link rel="shortcut icon" href="<%= config.seoSettings.imageURL %>">
    <link rel="stylesheet" href="css/main.css">
    <title>Error Generated</title>
    <style>
        body {
            background-color: #1c1c1c;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin: 0;
            height: 100%;
            font-family: 'Exo', sans-serif;
            position: relative;
            overflow-x: hidden;
        }
        .item1 {
            padding-top: 75px;
            color: white;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            display: block;
            position: relative;
            margin: 0;
        }
        .item2 {
            padding-top: 10px;
            color: white;
            text-align: center;
            font-size: 40px;
            display: block;
            position: relative;
            margin: 0;
        }
    </style>

</head>
<body>

<p class="item1" align=center>Error</p>
<p class="item2" align=center><%= error %></p>

</body>
</html>