html {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

body {
    background-color: #0C1017;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    overflow-x: hidden;
}

#footer {
    position: fixed;
    background-color: #171A22;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

#footer p {
    margin-top: 1em;
}

p {
    color: white;
    text-align: center;
}

h1 {
    padding-top: 1em;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: #3471eb;
    transition: 600ms;
    transition-property: color;
}

a:hover {
    text-decoration: none;
    color: #eb34c3;
}

footer {
    bottom: 0;
    text-align: center;
}

.secret {
    filter: blur(5px);
    transition: filter .1s ease-in-out;
}

.secret:hover, .secret:focus {
    filter: blur(0px);
}

.navbar {
    font-size: 1.2em !important;
}

.bg-primary {
    background-color: #171A22 !important;
}

.imgcard {
    margin-bottom: 1em;
}

.viewfolderbutton {
    width: 84%;
    visibility: hidden;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background: rgba(255, 0, 0, 0);
    /* background-color: transparent; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.075);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(136, 136, 136, 0.445);
}

::-webkit-scrollbar-corner {
    background: rgba(136, 136, 136, 0.445);
}

@media only screen and (max-width: 540px) {
    .viewfolderbutton {
        visibility: visible;
    }
}

.downloads {
    /* background-color: rgba(48, 48, 48, 0.425); */
    color: white;
}

.up {
    display: block;
    width: 225%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    /* background-clip: padding-box; */
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 5px;
}